.side-bar {
  height: 100%;
  background: white;
  position: fixed;
  top: 0;
  left: -1px;
  width: 70%;
  max-width: 50vh;
  z-index: 200;
  transform: translateX(-100%);
  transition: transform 0.3s ease-out;
}

.side-bar.open {
  transform: translateX(0);
}

.side-bar ul{
  margin-top: 50px;
  list-style: none;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
}

.side-bar li {
  margin: 0.5rem 0;
}

.side-bar p {
  color: #083D77;
  text-decoration: none;
  font-size: 1.2rem;
}

.side-bar p:hover,
.side-bar p:active {
  color:#F95738,
}

.logoIcon{
  width: 30%;
  height: 30%;
}

.sidebarLogo {
  background-color: #083D77;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
