.centered {
    left: 50%;
    overflow: hidden;
    position: fixed;
    transform: translate(-50%, -50%);
    top: 50%;
    width: 500px; 
  }

.button-color { 
  background: #efefef;
}
  
.boxes { 
    border-bottom: 3px solid #FF5722;
}
@media only screen and (max-width: 600px) {
  .centered {
    height: 100%;
    overflow: hidden;
    width: 100%; 
  }
}